@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
    overflow: visible;
}

#content_desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#mobile_header,
.menu-toggle  {
    display: none;
}

#content_mobile{
    display: none;
}

/* Section desktop */

.container {
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.left_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.right_img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 150px;
}

.right_img img {
    display: block;
    width: 500px;
}

.left_info h1 {
	font-size: 85px;
}

.left_info p {
	color: hsl(0, 0%, 41%);
	margin: 40px 0px;
	font-size: 1rem;
	line-height: 1.4rem;
}

.left_info .btn_desktop {
    display: inline-block;
    padding: 16px 20px;
    background: black;
    text-align: center;
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    border-radius: 15px;
}

.left_info .btn_desktop:hover {
    background: hsl(0, 0%, 98%);
    color: black;
    border: 1px solid black;
}

.left_info .sponso {
	display: flex;
	position: absolute;
	bottom: 0;
	justify-content: space-around;
	align-items: center;
}

.left_info .sponso img{
    margin-right: 50px;
}

/* MOBILE */

@media screen and (max-width: 991px) {

    #content_desktop {
        display: none;
    }

    #content_desktop {
        display: none;
    }

    #mobile_header,
    .menu-toggle  {
        display: block;
    }

    #content_mobile {
        display: block;
        margin-top: 80px;
    }

    #content_mobile .container_mobile .img_info img {
        display: block;
        width: 100%;
    }

    #content_mobile .container_mobile .mobile_info h1 {
        text-align: center;
        font-size: 45px;
        margin-top: 60px;
    }

    #content_mobile .container_mobile .mobile_info p {
        text-align: center;
        color: hsl(0, 0%, 41%);
        padding: 0px 25px;
        font-size: 18px;
        line-height: 2rem;
        margin-top: 30px;
    }

    #content_mobile .container_mobile .mobile_info .btn_mob {
        display: block;
        margin: 20px auto;
        padding: 16px 20px;
        border: none;
        border-radius: 15px;
        background: black;
    }

    #content_mobile .container_mobile .mobile_info .btn_mob a {
        text-align: center;
        text-decoration: none;
        color: hsl(0, 0%, 98%);
        font-size: 18px;
    }

    #content_mobile .sponso  {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 50px 0;
    }

    #content_mobile .sponso a {
        display: block;
        float: left;
    }
}

@media screen and (max-width: 810px) {

    #content_desktop {
        display: none;
    }

    #mobile_header {
        display: block;
    }

    #content_mobile {
        display: block;
        margin-top: 80px;
    }

    #content_mobile .container_mobile .img_info img {
        display: block;
        width: 100%;
    }

    #content_mobile .container_mobile .mobile_info h1 {
        text-align: center;
        font-size: 45px;
        margin-top: 60px;
    }

    #content_mobile .container_mobile .mobile_info p {
        text-align: center;
        color: hsl(0, 0%, 41%);
        padding: 0px 25px;
        font-size: 18px;
        line-height: 2rem;
        margin-top: 30px;
    }

    #content_mobile .container_mobile .mobile_info .btn_mob {
        display: block;
        margin: 20px auto;
        padding: 16px 20px;
        border: none;
        border-radius: 15px;
        background: black;
    }

    #content_mobile .container_mobile .mobile_info .btn_mob a {
        text-align: center;
        text-decoration: none;
        color: hsl(0, 0%, 98%);
        font-size: 18px;
    }

    #content_mobile .sponso  {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 50px 0;
    }

    #content_mobile .sponso a {
        display: block;
        float: left;
    }
}

@media screen and (max-width: 375px) {

    #content_desktop {
        display: none;
    }

    #content_desktop {
        display: none;
    }

    #mobile_header {
        display: block;
    }

    #content_mobile {
        display: block;
        margin-top: 80px;
    }

    #content_mobile .container_mobile .img_info img {
        display: block;
        width: 100%;
    }

    #content_mobile .container_mobile .mobile_info h1 {
        text-align: center;
        font-size: 45px;
        margin-top: 60px;
    }

    #content_mobile .container_mobile .mobile_info p {
        text-align: center;
        color: hsl(0, 0%, 41%);
        padding: 0px 25px;
        font-size: 18px;
        line-height: 2rem;
        margin-top: 30px;
    }

    #content_mobile .container_mobile .mobile_info .btn_mob {
        display: block;
        margin: 20px auto;
        padding: 16px 20px;
        border: none;
        border-radius: 15px;
        background: black;
    }

    #content_mobile .container_mobile .mobile_info .btn_mob a {
        text-align: center;
        text-decoration: none;
        color: hsl(0, 0%, 98%);
        font-size: 18px;
    }

    #content_mobile .sponso  {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 50px 0;
    }

    #content_mobile .sponso a {
        display: block;
        float: left;
    }

}



































