
header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}

/* logo */
header .logo {
	height: 50px;
	float: left;
	margin-right: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* block menu apres le logo */
header .menu {
	float: left;
	width: 400px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* block login à droite début */
header .login {
    float: right;
}

header .register {
    border: #333 1px solid;
    padding: 0px 20px;
    border-radius: 15px;
}
/* block login à droite fin */

/* Ul sur une ligne */
header nav ul {
    display: flex;
}

/* Préparation à la création des sub-menu */
header nav ul li {
	list-style: none;
	position: relative;
	padding: 0px 15px;
}

/* Liens navbar */
header nav ul li a {
	height: 50px;
	line-height: 50px;
	color: hsl(0, 0%, 41%);
	text-decoration: none;
	display: block;
}

/* Fleche avant click */
header nav ul li.sub-menu:before {
    content: '\f107';
    cursor: pointer;
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: hsl(0, 0%, 41%);
    right: 0px; /*LOL*/
}

/* fleche apres click */
header nav ul li.active.sub-menu:before {
    cursor: pointer;
    content: '\f106';
}

/* ****************************************** */
/* Block sub-menu ul .avtive */
header nav ul li.active ul { /* NATANGAKI*/
    display: block;
}
/* ****************************************** */

/* Sub-menu */
header nav ul li .smd {
    position: absolute;
    right: 0;
    background-color: #fff;
    display: none;
}

header nav ul li .smg {
    position: absolute;
    left: 0;
    background-color: #fff;
    display: none;
}

/* li du sub-menu */
header nav ul li ul li {
    width: 200px;
    display: flex;
    align-items: center;
}

/* icone sub-menu */
header nav ul li ul li img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

/* lien des sub-menu */
header nav ul li a:hover {
    color: hsl(0, 0%, 8%);
    /* background: #2196f3; */
}

@media (max-width: 991px) {
    body {
        overflow: hidden;
        width: 100vw;
    }

    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;

        position: fixed;
        z-index: 10;
        top: 0px;
        right: 20px;
        height: 50px;
        width: 35px;
        /* border-radius: 50%; */
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent; /* Création des lignes ensuite*/
    }

    /* #region line*/

    .line {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px; /* La ligne est crée épaisseur 2px*/
        background: hsl(0, 0%, 41%);

        /* Effet transition*/
        transition: transform 0.3s ease-out, opacity 0.1s ease-out;
    }

    .l1 { /* Ligne du haut*/
        transform: translateY(-10px);
    }

    .l3 { /* Ligne du bas*/
        transform: translateY(10px);
    }

    /* #endregion line*/

    /* #region Classe active Quand on click dessus*/

    /* Active = Au click*/

    .l1.active {
        transform: translateY(0px) rotate(135deg); /* Au click, il revient au début (0px) mais avec une rotation de (135deg)*/
    }
    
    .l2.active  {
        opacity: 0;
    }
    
    .l3.active  {
        transform: translateY(0px) rotate(-135deg); /* Au click, il revient au début (0px) mais avec une rotation de (-135deg)*/
    }

    /* #endregion Classe active Quand on click dessus*/

    header nav {
        /* position: absolute;
        width: 50%;
        height: calc(100vh - 50px);
        background-color: hsl(0, 0%, 98%);
        top: 50px;
        right: -100%;
        transition: 0.5s; */

        position: fixed;
        width: 50vw;
        min-height: 100vh;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: hsl(0, 0%, 98%);
        transform: translateX(100%);
        transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84); /* transition plus sexy*/
    }

    nav.active {
        transform: translate(0);
    }

    header .menu {
        display: block;
        width: 100%;
    }
    
    header .login {
        display: block;
        width: 100%;
    }

    header nav.active {
        right: 0;
        padding-top: 20px;
    }

    header nav .menu,
    header nav .login {
        display: block; /*Issou*/
        float: none;
    }

    header .sub-menu {
        width: 110px;
    }

    header .sub-menu-ct {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    header .sub-menu-img {
        height: 20px;
        width: 20px;
        margin-right: 15px;
    }

    header nav .login {
        text-align: center;
    }

    header nav ul {
        width: 400px;
    }

    header nav ul li.active ul {
        position: relative;
    }

    header nav ul li ul li a {
        display: flex;
        justify-content: flex-start;
    }

}